* {
    
    box-sizing: border-box; /* delete calculation of width */
    font-family: 'Open Sans Condensed', sans-serif;
    
 }

 body {

     text-align: justify;
     font-size: 1.3em;
 }

 a {

     text-decoration: none;
     font-weight: bold;
     color: black;

 }

img {

    max-width: 100%;

}

.bwStandardTextblock h2 {

    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    margin: 0 0 2.083333333333%;
    font-weight: bold;
    text-transform: uppercase;

}

.bwStandardTextblock {

    margin: 2.083333333333% 20.416666666667%;

}

.bwContact {

    text-align: center;

}

.bwContact img {

    width: 10%;
    height: 10%;

}

@media all and (min-width: 768px)  {

    body {

        font-size: 1.5em;

    }

    .bwStandardTextblock h2 {

        font-size: 1.8em;

    }

    .bwContact img {

        width: 4.166666666667%;
        height: 4.166666666667%;

    }
}

@media all and (min-width: 1080px) {

    .bwContact img {

        width: 3.125%;
        height: 3.125%;

    }

}